<div class="row mt-2">
    <div class="col-md-6 m-auto">
        <h4 class="card card-body">
            <div class="text-center mb-3  ">
                <div>
                    <img src="\images\dashboard.png" style="width: 100%;
                    max-width: 190px;
                    height: auto;">
                </div>
                <br><br>
                <h4>Welcome</h4>
                <h3 class="text-uppercase"><%= user.name %></h3>
                <h4>You are successfully logged in!</h4>
            </div>
            <div class="text-center">
                <a href="/users/logout" button type="submit" class="btn btn-outline-dark btn-lg">Logout</button></a>
            </div>


    </div>
</div>
</div>